<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>J2EEDemos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>  
<servlet-name>dinesh</servlet-name>  
<jsp-file>/hello.jsp</jsp-file>  
  
<init-param>  
<param-name>countryName</param-name>  
<param-value>Fiji Islands</param-value>  
</init-param>  

  </servlet>  


  
<servlet-mapping>  
<servlet-name>dinesh</servlet-name>  
<url-pattern>/hello</url-pattern>  
</servlet-mapping> 
 
<context-param>  
<param-name>driverName</param-name>  
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
</context-param> 

<context-param>  
<param-name>rootWebPath</param-name>  
<param-value>/jspDemos/sessionDemo/</param-value>  
</context-param>   
 

</web-app>